@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');/*Orbitron
*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background: rgb(224,145,23);
    background: linear-gradient(90deg, rgb(160, 102, 14) 0%, rgba(246,126,5,1) 35%, rgba(238, 174, 47, 0.9) 100%);

}

.container{
    width: 50rem;
    height: 20rem;

    border-radius: 20px;
    background-color: #181C14;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.hour{
    width: 12rem;
    height: 15rem;
    border-radius: 10px;
    background-color: #3C3D37;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.minutes{
    width: 12rem;
    height: 15rem;
    border-radius: 10px;
    background-color: #3C3D37;

    display: flex;
    align-items: center;
    justify-content: center; 
}

.seconds{
    width: 12rem;
    height: 15rem;
    border-radius: 10px;
    background-color: #3C3D37;

    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    font-family: 'Orbitron', Arial, Helvetica, sans-serif;
    font-size: 1em;
}
