@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #000000e5;
    position: relative;
}

.header-box{
    height: 10vh;
    background-color: #000000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

#text-header{
    text-transform: uppercase;
}

#icon-header{
    color: #04FE0A;
    font-size: 1.8rem;
}

span{
    font-size: 1.3rem;
    color: #04FE0A;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.tab{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px 0px;
}

.tab > p{
    color: #ffffff;
    width: 80vw;
    font-size: 1rem;
    flex: auto;
    
}

#numberbox{
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 5px;
    text-align: center;
}

.btnclass{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#btn{
    width: 140px;
    height: 35px;
    margin: none;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
}

#clean{
    width: 140px;
    height: 35px;
    margin: none;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
}

