@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); /*Roboto*/

/*Colors: #8FAADF - #E4E5E9*/


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
}

body{
    background-color: #202125;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.header{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    
    width: 90%;
    padding: 20px;
    margin: auto;
}

span{
    color: #8FAADF;
}

.info-header > a{
    color: #E4E5E9;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 0px 40px;
}

.info-header > a:hover{
    color: #8FAADF;
    transition: .2s;
}

.logo > p{
    color: #E4E5E9;
    font-size: 1.3rem;
    letter-spacing: -1px;
}

.main{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 5%;
}


.text-about > h1{
    color: #fff;
    font-size: 2.6rem;
    letter-spacing: -2px;
    padding-bottom: 20px;
    line-height: 40px;
    width: 600px;
}

.text-about > p{
    color: #fff;
    font-size: 1rem;
    width: 38rem;
}



