@media only screen and (max-width: 600px){
    span {
        color: #8faadf;
      }

    .main > h1{
        font-size: 2.45rem;
        margin: 0 auto;
        line-height: 2.1rem;
        max-width: 95%;
    }

    .main > p{
        font-size: 1rem;
        max-width: 95%;
        margin: 10px auto;
    }
}