@media only screen and (max-width: 600px){
   .container{
    overflow-x: hidden;
   }

   .header{
    min-width: 100%;
   }

    .main{
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }

    .card{
        margin: 20px 0px;
    }

    .text-about{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        
    }

    .main > .text-about > h1{
        font-size: 2.2rem;
        width: 90%;
        padding: 30px 0px 0px 30px;
    }

    .main > .text-about > p{
      font-size: 0.98rem;
      width: 90%;
      padding: 10px 0px 10px 30px;
    }

    hr{
      display: none;
    }

    .text-about > .only-mobile{
        display: block;
    }

}