@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); /*Roboto*/

/*Colors: #8FAADF - #E4E5E9*/


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #202125;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: auto;
    height: 8vh;
    width: 80%;
}

span{
    color: #8FAADF;
}

.info-header > a{
    padding: 0px 40px;
    text-decoration: none;
    font-size: 1.2rem;
    color: #E4E5E9;
}

.info-header > a:hover{
    color: #8FAADF;
    transition: .1s;
    
}

.logo > p{
    font-size: 1.3rem;
    letter-spacing: -1px;
    color: #E4E5E9;
}

.line{
    width: 50vw;
    height: 2px;
    background-color: #E4E5E9;
}


.main{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.text-main > h1{
    color: #E4E5E9;
    width: 600px;
    font-size: 4rem;
    letter-spacing: -2px;
    line-height: 60px;
}

.text-main > p{
    color: #959597;
    width: 500px;
    font-size: 1.1rem;
}

.btn > button{
    background-color: transparent;
    border: none;
    color: #E4E5E9;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
}
.btn {
    border: 2px solid #8FAADF;
    border-radius: 4px;
    width: 170px;
    padding: 10px;
    text-align: center;
    

   }
   

.animation{
    width: 500px;
}

.mobilesvg{
    display: none;
}





