.btns{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px;
}

button{
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 6px;
    background-color: rgb(84, 20, 126);
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s;
}

button:hover{
    background-color: rgb(107, 44, 150);
}