@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"); /*Open Sans*/

.feed-form {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  width: 400px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.feed-form input {
  height: 54px;
  border-radius: 5px;
  background: white;
  margin-bottom: 15px;
  border: none;
  padding: 0 20px;
  font-weight: 300;
  font-size: 14px;
  color: #4b4b4b;
}

textarea {
  margin: 0px 0px 20px 0px;
  border-radius: 5px;
  font-size: 14px;
  padding: 12px;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.button_submit:hover,
.feed-form input:hover,
textarea:hover {
  transform: scale(1.009);
  box-shadow: 0px 0px 3px 0px #212529;
}

.button_submit {
  width: 100%;
  height: 54px;
  font-size: 16px;
  color: white;
  background: red;
  border-radius: 5px;
  border: none;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}
