/*Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"); /*Open Sans*/
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap"); /*Oswald*/

/*Colors
background #1e1e1ef5
*/

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;

  display: flex;

  background-color: #1e1e1ef5;
}

span{
  color: #FFA712;
}

.left-side {
  width: 100vw;
  height: 100vh;
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 8rem;
  gap: 2rem;
}

.right-side {
  width: 100vw;
  height: 100vh;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

h1 {
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: -2px;
  font-size: 4rem;
  line-height: 59px;
  color: #ffffffdc;
  margin-left: 10rem;
}

p {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  width: 70%;
  color: #ffffffc9;
  margin-left: 10rem;
}

svg {
  margin: 0 auto;
}
